.categories {
  width: 80%;
}
.categories>a {
  margin: 5px;
  padding: .5em;
  border: 2px solid #ffe81f;
  border-radius: 5px;
  display: inline-block;
  width: 40%;
  font-size: 1.5em;
}

.categories>.selected {
  color: #000;
  background-color: #ffe81f;
}
