.resource-card {
  padding: 1em;
  border: 2px solid #ffe81f;
  border-radius: 5px;
  width: 6em;
  margin: 5px;
  font-weight: 500;
  font-size: 1.2em;
}

.expanded {
  width: 20em;
}

.resource-card:hover {
  color: #000;
  background-color: #ffe81f;
}
